:root {
  --color-primary: #051931;
  --color-white: rgb(5, 7, 46);
  --color-light: #e6e6e6;
  --color-black: #030e2b;
  --color-light-blue: #06cfcf;

  --transition: all 400ms ease;

  --container-width: 89%;
  --container-width-phone: 96%;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-light);
  font-weight: 300;
  font-size: 0.94rem;
}

.avatar {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
}

.tittle {
  width: 40%;
  margin: 1rem auto 0;
}

.lead {
  width: 40%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 1rem auto 3rem;
}

.btn {
  background-color: transparent;
  border: 0.11rem solid var(--color-light);
  color: var(--color-light-blue);
  padding: 0.8rem 6rem;
  font-weight: 600;
  border-radius: 2rem;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--color-light-blue);
  color: var(--color-light);
  border: 0.11rem solid var(--color-light-blue);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary);
  font-family: "Eudoxus sans", sans-serif;
  color: var(--color-light);
  line-height: 1.7;
  overflow-x: hidden;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
  text-align: center;
}

/* --------- Navbar -----------*/

nav {
  width: 100vw;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: var(--color-primary);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 80%;
}

.nav-container ul {
  display: flex;
  align-items: center;
  gap: 6rem;
}

nav ul a {
  transition: var(--transition);
  transform-origin: center;
  color: var(--color-light);
}

nav ul a:hover {
  text-decoration: underline;
  font-weight: 700;
}

/* --------- End of Navbar -----------*/

/* --------- Header -----------*/

header {
  width: 100vw;
  max-width: 100vw;
  text-align: center;
}

header .header-image img {
  width: 40%;
  margin-top: 10rem;
}

/* --------- End of Header -----------*/

/* --------- Section -----------*/

#items {
  width: 100vw;
  margin: 15rem auto;
}

section .section-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  width: 60%;
}

section .section-container img {
  width: 25%;
}

section .section-container .sec2 img {
  width: 20%;
}

section .section-container .sec1 {
  display: grid;
  place-items: center;
  text-align: center;
}

section .section-container h2 {
  margin: 1rem 0;
}

section .section-container p {
  width: 80%;
  font-size: 1.2rem;
}

/* --------- End of Section -----------*/

/* --------- Section -----------*/

#both {
  width: 100vw;
  margin: 0 auto 15rem;
}

.section-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 1rem;
}

.section-container2 .sideimage img {
  width: 100%;
}

.section-container2 .leader {
  width: 80%;
  text-align: left;
}

.section-container2 .leader p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.section-container2 .leader .imagine {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 400ms ease;
}

.section-container2 .leader .imagine:hover {
  cursor: pointer;
  border: 0.1rem solid var(--color-light);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  width: 10.9rem;
}

/* --------- End of Section2 -----------*/

/* --------- Section3 -----------*/

#sectionn {
  width: 100vw;
  margin: 0 auto 28rem;
}

.section-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  text-align: left;
  gap: 2rem;
}

section .card {
  background-color: var(--color-black);
  border-radius: 1px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section .card p {
  font-size: 1rem;
}

section .sub {
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

section .tit p {
  font-size: 0.8rem;
}

/* ---------End of Section3 -----------*/

/* --------- Section4 -----------*/

#section4 {
  width: 80%;
  margin-bottom: 15rem;
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section4 .section-container4 {
  padding: 4rem;
  background-color: var(--color-primary);
  width: 54%;
  display: grid;
  align-items: center;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

#section4 .section-container4 .text {
  text-align: center;
}

.section-container4 .small {
  margin: 1.5rem 0;
}

.section-container4 .formmy {
  display: grid;
}

.section-container4 .formy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.section-container4 .formy input {
  padding: 1rem;
  width: 50%;
  border-radius: 50px;
}

.section-container4 .formy button {
  padding: 1rem 1.5rem;
}

.section-container4 .invalid {
  color: red;
  font-weight: 400;
  margin-left: 5rem;
}

/* -----------------section 5 -------------------*/

#section5 {
  background-color: var(--color-white);
  padding: 12rem 0 3rem;
  position: relative;
}

#section5 .container {
  text-align: left;
}

#section5 .section-container5 .image-footer {
  width: 7%;
  margin-bottom: 4rem;
}

#section5 .section-container5 .footerr {
  display: flex;
  align-items: top;
  justify-content: space-between;
  gap: 2rem;
}

#section5 .section-container5 .location {
  width: 30%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

#section5 .section-container5 a {
  color: var(--color-light);
}

.section-container5 .footerr a:hover {
  font-weight: 700;
}

#section5 .section-container5 .contact {
  display: block;
}

#section5 .section-container5 .contact-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#section5 .section-container5 .contact-info .wrapper {
  white-space: nowrap;
}

.section-container5 .footerr .linkage a {
  display: block;
  margin-bottom: 1rem;
}

.section-container5 .footerr .linkage2 a {
  display: block;
  margin-bottom: 1rem;
}

.section-container5 .footerr .social {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}

.section-container5 .footerr .social i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 2px solid var(--color-light);
  border-radius: 50%;
  transition: var(--transition);
}

.section-container5 .footerr .social i:hover {
  color: var(--color-light-blue);
  border: 2px solid var(--color-light-blue);
}

/*-------------------Media Queries -----------------------*/

@media (min-width: 320px) and (max-width: 414px) {
  .container {
    width: var(--container-width-phone);
  }

  h1 {
    font-size: 1.5rem;
  }

  a {
    color: var(--color-light);
    font-weight: 500;
    font-size: 0.6rem;
  }

  .tittle {
    width: 70%;
    margin: 1rem auto 0;
  }

  .lead {
    width: 70%;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 1rem auto 3rem;
  }

  /*------------------- Nav -----------------------*/
  nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: var(--color-primary);
    z-index: 100;
  }

  nav .nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    place-items: center;
  }

  nav .logo img {
    width: 70%;
    margin-left: -5rem;
    margin-top: 1rem;
  }

  .nav-container ul {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  nav ul a {
    transition: var(--transition);
    transform-origin: center;
    color: var(--color-light);
  }

  nav ul a:hover {
    text-decoration: underline;
    font-weight: 500;
  }

  /* --------- Header -----------*/

  header {
    width: 100%;
    max-width: 100vw;
    text-align: center;
  }

  header .header-image img {
    width: 70%;
    margin-top: 10rem;
  }

  /* --------- End of Header -----------*/

  /* --------- Section -----------*/

  #items {
    width: 100vw;
    margin: 10rem auto;
  }

  section .section-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 3rem;
    width: 80%;
  }

  section .section-container img {
    width: 40%;
  }

  section .section-container .sec2 img {
    width: 30%;
  }

  section .section-container .sec1 {
    display: grid;
    place-items: center;
    text-align: center;
  }

  section .section-container h2 {
    margin: 1rem 0;
    font-size: ;
  }

  section .section-container p {
    width: 80%;
    font-size: 0.8rem;
  }

  /* --------- End of Section -----------*/

  * --------- Section -----------*/ #both {
    width: 100vw;
    margin: 0 auto 10rem;
  }

  .section-container2 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 3rem;
  }

  .section-container2 .sideimage img {
    width: 80%;
  }

  .section-container2 .leader {
    width: 80%;
    text-align: left;
  }

  .section-container2 .leader p {
    margin: 1rem 0;
    font-size: 0.8rem;
  }

  .section-container2 .leader .imagine {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 400ms ease;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 43%;
  }

  .section-container2 .leader .imagine:hover {
    cursor: pointer;
    border: 0.1rem solid var(--color-light);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    width: 43%;
  }

  /* --------- End of Section2 -----------*/

  /* --------- Section3 -----------*/

  #sectionn {
    width: 100vw;
    margin: 0 auto 20rem;
  }

  .section-container3 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: left;
    gap: 3rem;
  }

  section .card {
    width: 80%;
    background-color: var(--color-black);
    border-radius: 1px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  section .card p {
    font-size: 0.8rem;
  }

  section .sub {
    display: flex;
    gap: 1.3rem;
    align-items: center;
  }

  #sectionn h4 {
    font-size: 0.8rem;
  }

  #sectionn .tit p {
    font-size: 0.6rem;
  }

  /* ---------End of Section3 -----------*/

  /* --------- Section4 -----------*/

  #section4 {
    width: 90%;
    margin-bottom: 10rem;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #section4 .section-container4 {
    padding: 2rem;
    background-color: var(--color-primary);
    width: 95%;
    display: grid;
    align-items: center;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }

  #section4 .section-container4 .text {
    text-align: center;
  }

  .section-container4 .small {
    margin: 1.5rem 0;
    font-size: 0.8rem;
  }

  .section-container4 .formmy {
    display: grid;
  }

  .section-container4 .formy {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
  }

  .section-container4 .formy input {
    padding: 1rem;
    width: 90%;
    border-radius: 50px;
  }

  .section-container4 .formy button {
    padding: 1rem 3rem;
  }

  .section-container4 .invalid {
    color: red;
    font-weight: 400;
    margin-left: 5rem;
  }

  /* -----------------section 5 -------------------*/

  #section5 {
    background-color: var(--color-white);
    padding: 18rem 2rem 2rem;
    position: relative;
  }

  #section5 .container {
    text-align: left;
  }

  #section5 .section-container5 .image-footer {
    width: 40%;
    margin-bottom: 2rem;
  }

  #section5 .section-container5 .footerr {
    display: grid;
    grid-template-columns: 1fr;
    place-items: right;
    gap: 2rem;
  }

  #section5 .section-container5 .location {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  #section5 .section-container5 a {
    color: var(--color-light);
  }

  .section-container5 .footerr a:hover {
    font-weight: 700;
  }

  #section5 .section-container5 .contact {
    display: block;
  }

  #section5 .section-container5 .contact-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1rem;
  }

  #section5 .section-container5 .contact-info .wrapper {
    white-space: nowrap;
  }

  .section-container5 .footerr .linkage a {
    display: block;
    margin-bottom: 1rem;
  }

  .section-container5 .footerr .linkage2 a {
    display: block;
    margin-bottom: 1rem;
  }

  #section5 .section-container5 .footerr .social {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .section-container5 .footerr .contact img {
    width: 60%;
  }

  .section-container5 .footerr p {
    font-size: 0.66rem;
  }

  .section-container5 .footerr .social i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid var(--color-light);
    border-radius: 50%;
    transition: var(--transition);
  }

  .section-container5 .footerr .social i:hover {
    color: var(--color-light-blue);
    border: 2px solid var(--color-light-blue);
  }
}
